.expand-height
{
    height: 100%;
}

/* Agile slider */
.slider
{
    margin-bottom: 1rem;
}
/* The first slide picture */
/* .agile__slides--regular .agile__slide:first-child
{
    width: 100% !important;
}*/
/* class="VueCarousel-navigation-button VueCarousel-navigation-prev" */
.VueCarousel-navigation-button
{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 80px;
}
.VueCarousel-navigation-button:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.VueCarousel-navigation-prev,
.VueCarousel-navigation-next
{
    transform: translateY(-50%) !important;
}

.VueCarousel-navigation-prev img,
.VueCarousel-navigation-next img
{
    /* fill: white; 
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    */
}

/* https://github.com/ssense/vue-carousel#readme */