<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>點燃科技 2020 前端工程師試題</title>
    <link rel="stylesheet" href="./kube/css/kube.min.css" />
    <link rel="stylesheet" href="./kube/addons/number/kube.number.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="mobile.css" />
</head>
<body>
    <div id="app" v-on:click="close_menu_by_event">
        <header class="desktop-screen top head fixed navigator flex-split" v-bind:class="{ 'on-top': on_top, 'on-page': !on_top }">
            <div class="info item">
                <div class="caption white-text">
                    <p v-bind:hidden="!on_top"><small><b>TEL</b>: (852) 2736 7778</small></p>
                    <p v-bind:hidden="!on_top"><small><b class="all-caps">Email</b>: csm@ponti.com</small></p>
                    <img
                        src="./images/ponti-wine-cellars-logo-1589532960.jpg.png"
                        alt="Ponti logo when the scroll is not on top"
                        width="75"
                        v-bind:hidden="on_top"
                    />
                </div>
            </div>
            <div class="title item">
                <div>
                    <h1>
                        <span hidden>Ponti</span>
                        <img
                            src="./images/ponti-wine-cellars-logo-1589532960.jpg.png"
                            alt="Ponti logo"
                            v-bind:hidden="!on_top"
                        />
                    </h1>
                </div>
                <div class="justify text-center head-menu">
                    <ul class="all-caps white-link inline-menu">
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="member item">
                <ul class="white-link inline-menu with-gap">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
                <div class="reminder">
                    <span class="search">
                        <a href="#">
                            <img src="./fontawesome/search.svg" alt="Search" width="40" />
                        </a>
                    </span>
                    <span v-bind:class="{ shop: shopcart.has_thing }">
                        <a href="#" class="badge" v-bind:data-count="shopcart.amount">
                            <img src="./fontawesome/shopping-cart.svg" alt="Shopping cart" width="40" />
                        </a>
                    </span>
                </div>
            </div>
        </header>
        <header class="mobile-screen top head fixed navigator flex-split">
            <div class="info item">
                <div class="hamburger" v-on:click="toggle_menu()">
                    <img src="./fontawesome/bars.svg" alt="Hamburger menu" width="25" />
                </div>
                <div ref="mobile_menu" class="menu-panel" v-bind:hidden="mobile_menu_hidden">
                    <span class="close" v-on:click="close_menu()"></span>
                    <ul class="all-caps black-link menu">
                        <li><a href="#">Log in / Register</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><hr /></li>
                        <li><a href="#">ToS</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">CP9</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>
                </div>
            </div>
            <div class="title item">
                <img src="./images/ponti_wine_cellars-logo BLACK.png" alt="Ponti logo at mobile" width="75" />
            </div>
            <div class="member item">
                <span v-bind:class="{ shop: shopcart.has_thing }">
                    <a href="#" class="badge" v-bind:data-count="shopcart.amount">
                        <img src="./fontawesome/shopping-cart-black.svg" alt="Shopping cart" width="40" />
                    </a>
                </span>
            </div>
        </header>
        <div class="slider">
            <carousel v-bind="VueCarousel_settings">
                <slide>
                    <div class="first item">
                        <div class="caption">
                            <h2>Trusted wine delivery</h2>
                            <p>with prime steak.</p>
                            <button class="all-caps button">See more</button>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="second item">
                        <div class="caption">
                            <h2>Trusted wine delivery</h2>
                            <p>with prime steak.</p>
                            <button class="all-caps button">See more</button>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="third item">
                        <div class="caption">
                            <h2>Trusted wine delivery</h2>
                            <p>with prime steak.</p>
                            <button class="all-caps button">See more</button>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
        <main>
            <article class="introduction narrow container text-center is-row">
                <section class="item section is-col">
                    <img src="./images/image-53-4.png" alt="Tuxedo" width="120" />
                    <h2>Trusted wine delivery service</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </section>
                <section class="item section is-col">
                    <img src="./images/image-54-4.png" alt="A wine box" width="120" />
                    <h2>Incredible value premium wines</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </section>
                <section class="item section is-col">
                    <img src="./images/image-55.png" alt="Car" width="120" />
                    <h2>Free delivery</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </section>
            </article>
            <div class="break-line"></div>
            <article class="heightlights text-center narrow container is-row">
                <section class="item is-col">
                    <div class="image">
                        <img src="./images/heightlight-desktop-1.png" alt="Heightlight 1" />
                    </div>
                    <div class="text">
                        <h2>Article 1</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </section>
                <section class="item is-col">
                    <div class="image">
                        <img src="./images/heightlight-desktop-2.png" alt="Heightlight 1" />
                    </div>
                    <div class="text">
                        <h2>Article 2</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </section>
                <section class="item is-col">
                    <div class="image">
                        <img src="./images/heightlight-desktop-3.png" alt="Heightlight 1" />
                    </div>
                    <div class="text">
                        <h2>Article 3</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </section>
                <section class="item is-col">
                    <div class="image">
                        <img src="./images/heightlight-desktop-4.png" alt="Heightlight 1" />
                    </div>
                    <div class="text">
                        <h2>Article 4</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </section>
            </article>
            <article class="top-picks shop container">
                <div class="panel">
                    <h2>Ponti's top picks</h2>
                    <div class="pagi">
                        <div class="pager">
                            <a v-on:click="switch_pivot('top_picks_pivot', 'decrease')" href="javascript:;" class="is-prev"></a>
                            <a v-on:click="switch_pivot('top_picks_pivot', 'increase')" href="javascript:;" class="is-next"></a>
                        </div>
                    </div>
                </div>
                <div v-if="top_picks" class="flex-split wrap-by-flex gallery">
                    <section
                        v-for="(v_item, v_index) in top_picks_first" v-bind:key="v_index"
                        class="vertical-justify item desktop-relative">
                        <div class="desktop meta">
                            <ul>
                                <li>Vintage: <strong>{{ v_item.vinage }}</strong></li>
                                <li>Country: <strong>{{ v_item.country }}</strong></li>
                                <li>Region: <strong>{{ v_item.region }}</strong></li>
                                <li>Size: <strong>{{ v_item.size.amount }}{{ v_item.size.unit }}</strong></li>
                            </ul>
                        </div>
                        <div class="title">
                            <h3>{{ v_item.name }}</h3>
                            <p><small>{{ v_item.vinage }}</small></p>
                        </div>
                        <div class="flex-split content">
                            <div class="item left is info">
                                <div class="flex-split ratings">
                                    <div class="item">
                                        <div class="name">AM</div>
                                        <div>{{ v_item.rating.am }}</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">WS</div>
                                        <div>{{ v_item.rating.ws }}</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">WA</div>
                                        <div>{{ v_item.rating.wa }}</div>
                                    </div>
                                </div>
                                <div class="mobile meta">
                                    <ul>
                                        <li>Vintage: {{ v_item.vinage }}</li>
                                        <li>Country: {{ v_item.country }}</li>
                                        <li>Region: {{ v_item.region }}</li>
                                        <li>Size: {{ v_item.size.amount }}{{ v_item.size.unit }}</li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <p v-if="is_sold_out(v_item.stock_amount)" class="all-caps sold-out">
                                        <strong>Out of stuck</strong>
                                    </p>
                                    <p v-if="v_item.price.on_sale" class="all-caps on-sale">
                                        <strong>{{ v_item.price.unit }}{{ v_item.price.new }}</strong>
                                    </p>
                                    <p class="value">
                                        <del v-if="v_item.price.on_sale">{{ v_item.price.unit }}{{ v_item.price.old }}</del>
                                        <span v-else>{{ v_item.price.unit }}{{ v_item.price.old }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="item right is picture">
                                <img v-bind="{ src: v_item.image, alt: v_item.name }" width="75" />
                            </div>
                        </div>
                        <div class="buy">
                            <div class="form-item">
                                <div class="input-number">
                                    <span
                                        v-on:click="set_buy_amount(v_index, -1, v_item.stock_amount, 'top_picks_amount')"
                                        v-bind:class="bind_amount_class(v_index, -1, v_item.stock_amount)">-</span>
                                    <input
                                        type="number" min="0"
                                        v-bind:disabled="is_sold_out(v_item.stock_amount)"
                                        v-model="top_picks_amount[v_index]"
                                        v-bind:max="v_item.stock_amount"
                                    />
                                    <span
                                        v-on:click="set_buy_amount(v_index, +1, v_item.stock_amount, 'top_picks_amount')"
                                        v-bind:class="bind_amount_class(v_index, +1, v_item.stock_amount)">+</span>
                                    <button type="button" class="button" v-bind:disabled="is_sold_out(v_item.stock_amount)">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </article>
            <article class="new-arrivals shop container">
                <div class="panel">
                    <h2>New arrival...</h2>
                    <div class="pagi">
                        <div class="pager">
                            <a v-on:click="switch_pivot('new_arrivals_pivot', 'decrease')" href="javascript:;" class="is-prev"></a>
                            <a v-on:click="switch_pivot('new_arrivals_pivot', 'increase')" href="javascript:;" class="is-next"></a>
                        </div>
                    </div>
                </div>
                <div v-if="new_arrivals" class="flex-split wrap-by-flex gallery">
                    <section v-for="(v_item, v_index) in new_arrivals_first" v-bind:key="v_index" class="vertical-justify item desktop-relative">
                        <div class="desktop meta">
                            <ul>
                                <li>Vintage: <strong>{{ v_item.vinage }}</strong></li>
                                <li>Country: <strong>{{ v_item.country }}</strong></li>
                                <li>Region: <strong>{{ v_item.region }}</strong></li>
                                <li>Size: <strong>{{ v_item.size.amount }}{{ v_item.size.unit }}</strong></li>
                            </ul>
                        </div>
                        <div class="title">
                            <h3>{{ v_item.name }}</h3>
                            <p><small>{{ v_item.vinage }}</small></p>
                        </div>
                        <div class="flex-split content">
                            <div class="item left is info">
                                <div class="flex-split ratings">
                                    <div class="item">
                                        <div class="name">AM</div>
                                        <div>{{ v_item.rating.am }}</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">WS</div>
                                        <div>{{ v_item.rating.ws }}</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">WA</div>
                                        <div>{{ v_item.rating.wa }}</div>
                                    </div>
                                </div>
                                <div class="mobile meta">
                                    <ul>
                                        <li>Vintage: {{ v_item.vinage }}</li>
                                        <li>Country: {{ v_item.country }}</li>
                                        <li>Region: {{ v_item.region }}</li>
                                        <li>Size: {{ v_item.size.amount }}{{ v_item.size.unit }}</li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <p v-if="is_sold_out(v_item.stock_amount)" class="all-caps sold-out">
                                        <strong>Out of stuck</strong>
                                    </p>
                                    <p v-if="v_item.price.on_sale" class="all-caps on-sale">
                                        <strong>{{ v_item.price.unit }}{{ v_item.price.new }}</strong>
                                    </p>
                                    <p class="value">
                                        <del v-if="v_item.price.on_sale">{{ v_item.price.unit }}{{ v_item.price.old }}</del>
                                        <span v-else>{{ v_item.price.unit }}{{ v_item.price.old }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="item right is picture">
                                <img v-bind="{ src: v_item.image, alt: v_item.name }" width="75" />
                            </div>
                        </div>
                        <div class="buy">
                            <div class="form-item">
                                <div class="input-number">
                                    <span
                                        v-on:click="set_buy_amount(v_index, -1, v_item.stock_amount, 'new_arrivals_amount')"
                                        v-bind:class="bind_amount_class(v_index, -1, v_item.stock_amount, 'new_arrivals_amount')">-</span>
                                    <input
                                        type="number"
                                        min="0"
                                        v-model="new_arrivals_amount[v_index]"
                                        v-bind:max="v_item.stock_amount"
                                        v-bind:disabled="is_sold_out(v_item.stock_amount)"
                                    />
                                    <span
                                        v-on:click="set_buy_amount(v_index, +1, v_item.stock_amount, 'new_arrivals_amount')"
                                        v-bind:class="bind_amount_class(v_index, +1, v_item.stock_amount, 'new_arrivals_amount')">+</span>
                                    <button type="button" class="button" v-bind:disabled="is_sold_out(v_item.stock_amount)">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </article>
        </main>
        <footer class="footer">
            <div class="narrow container is-row">
                <div class="about-us item is-col">
                    <div class="logo-part">
                        <img src="./images/ponti_wine_cellars-logo BLACK.png" alt="logo" width="200" />
                    </div>
                    <div class="text-part">
                        <p>Ponfi Wine Cellars is an online wine shop in Hang Kong. We offer a comprehensive range of top quality wines from all over the world such as USA, Italy, France, Spain, Argentina, Chile and etc.</p>
                    </div>
                </div>
                <div class="foot-navigator-and-newsletter item is-col">
                    <div class="foot navigator">
                        <ul class="all-caps black-link inline-menu with-gap">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Wine Club Benefit</a></li>
                            <li><a href="#">Our stores</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Site map</a></li>
                        </ul>
                    </div>
                    <div class="newsletter">
                        <form class="form">
                            <div class="form-item">
                                <label class="all-caps">Newsletter</label>
                                <input type="text" name="email" placeholder="Email address" class="no-radius black-broder" />
                            </div>
                            <div class="form-item is-buttons">
                                <button type="submit" class="no-radius all-caps button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="sns">
                        <div class="area">
                            <a href="https://www.facebook.com" target="_blank">
                                <img src="./fontawesome/facebook-square.svg" alt="Facebook logo" width="45" />
                            </a>
                            <a href="https://www.instagram.com" target="_blank">
                                <img src="./fontawesome/instagram.svg" alt="Instagram logo" width="45" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="disclaimer narrow container is-row">
            <div class="item is-col">
                <div class="legel">
                    <small>Use Optical Character Recognition software online.</small>
                    <small>香港法律禁止任何人向未成年人售賣或供應酒類飲品。</small>
                </div>
                <div class="links">
                    <p>@ Ponfi Wine</p>
                    <ul class="black-link inline-menu with-gap">
                        <li><a href="#">ToS</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">CP9</a></li>
                    </ul>
                </div>
            </div>
            <div class="item is-col"></div>
        </div>
    </div>
    <script src="./api-generator.js"></script>
    <script src="./static-api.js"></script>
    <script src="./vue/dev.js"></script>
    <script src="./vue/vue-carousel.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>