@media screen and (max-width: 899px)
{
    .top.head.navigator.desktop-screen { display: none; }
    .desktop-relative { position: static; }

    /* The navigator */
    .top.head.navigator.mobile-screen
    {
        display: flex;
        justify-content: center;
    }
    .top.head.navigator.mobile-screen
    {
        background-color: #eaeaea;
        padding: 0 1rem 0.5rem 1rem;
    }
    .hamburger
    {
        border-radius: 50%;
        display: inline-block;
        margin-top: 0.5rem;
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        background-color: black;
        cursor: pointer;
    }

    .top.head.navigator.mobile-screen .title.item img
    {
        margin: 0 auto 0 auto;
    }
    .top.head.navigator.mobile-screen .member.item
    {
        margin-top: 1rem;
        padding-right: 0.5rem;
    }

    /* Mobile Menu */
    .top.head.navigator.mobile-screen .menu-panel
    {
        position: absolute;
        left: 0;
        top: 60px;
        width: 90%;
        background-color: white;
        box-shadow: 0 5px 10px black;
    }
    .top.head.navigator.mobile-screen .menu-panel ul,
    .top.head.navigator.mobile-screen .menu-panel ol
    {
        list-style: none;
        margin-right: 20px;
        margin-top: 16px;
    }
    .top.head.navigator.mobile-screen .menu-panel hr
    {
        margin: 8px 0 8px 0;
    }
    .top.head.navigator.mobile-screen .menu-panel .close
    {
        position: absolute;
        right: 0.5rem;
        font-size: 1.5rem;
        top: 0.5rem;
    }
    .top.head.navigator.mobile-screen .menu-panel .close:hover
    {
        color: black;
        background-color: transparent;
    }

    /* Shop */

    .shop .gallery .mobile.meta
    {
        display: block;
    }
    .shop .gallery .desktop.meta
    {
        display: none;
    }
}

@media screen and (min-width: 900px)
{
    .top.head.navigator.mobile-screen { display: none; }
}
