/* Rewrite Kube rules globally */
a
{
    text-decoration: none;
}
a:hover, a:active
{
    font-weight: bolder;
}

.button, .button:active, .button:focus
{
    background: #b69982;
}

/* My global rules */
.all-caps
{
    text-transform: uppercase;
}
.no-radius
{
    border-radius: 0;
}
.container
{
    max-width: 1024px;
    margin: 0 auto;
}
.black-broder
{
    border: 1px black solid;
}
.black-link a,
.black-link a:hover,
.black-link a:active
{
    color: rgba(0, 0, 0, 0.75);
}
ul.inline-menu
{
    margin: 0;
}
ul.inline-menu li
{
    display: inline-block;
}
ul.inline-menu.with-gap li::after
{
    content: "|";
    margin-left: 5px;
}
ul.inline-menu.with-gap li:last-child::after
{
    content: "";
}

/* Rules by section parts */

/* Header */
.head.navigator
{
    background-color: rgba(0, 0, 0, 0.25);
}

/* Main section */

/* Introduction in main section. */
.introduction.container { text-align: center; }
.introduction .item h2  { font-size: 1.2rem; }
.introduction .item img { margin: 0 auto; }

/* Break line is a gap between introduction and heightlights in main section. */
.break-line
{
    width: 840px;
    border: 2px #480a08 solid;
    margin: 3rem auto 3rem auto;
    text-align: center;
}

/* Heightlights in main section */
.heightlights .item
{
    position: relative;
}

.heightlights .item .text
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: rgba(66,17,14,0.75);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.heightlights .item .text h2,
.heightlights .item .text p
{
    text-align: center;
    color: white;
    margin: 0;
}

.heightlights .item .text h2
{
    font-size: 1.2rem;
}

/* Footer */
.footer
{
    background-color: #f2f0ea;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.foot.navigator
{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* SNS area is in foot-navigator-and-newsletter class */
.sns
{
    display: flex;
    flex-direction: row-reverse;
}
.sns .area > *:last-child
{
    margin-right: 0.4rem;
}

/* Disclaimer */
.disclaimer
{
    padding-top: 1rem;
    background-color: #ffffff;
}
.disclaimer .legel
{
    margin-bottom: 1rem;
}
.disclaimer .legel p
{
    margin: 0;
}

.disclaimer .links > *
{
    display: inline-block;
}
