/* Rewrite Kube rules globally */
a { text-decoration: none; }
a:hover, a:active { font-weight: bolder; }
.button, .button:active, .button:focus { background: #b69982; }

/* My own global rules */
main { padding: 0 1rem 0 1rem; }
.all-caps { text-transform: uppercase; }
.no-radius { border-radius: 0; }
.black-broder { border: 1px black solid; }
.text-center, .center-text { text-align: center; }
.container { margin: 0 auto; }
.narrow.container
{
    width: 90%;
    max-width: 1200px;
}

.flex-split
{
    display: flex;
    justify-content: center;
}
.flex-split > .item
{
    flex: 1;
    align-self: auto;
}
.flex-split > .double.item
{
    flex: 2;
}
.wrap-by-flex
{
    flex-wrap: wrap;
}

/* Link colours */
.black-link a,
.black-link a:hover,
.black-link a:active { color: rgba(0, 0, 0, 0.75); }

.white-link a,
.white-link a:hover,
.white-link a:active { color: rgba(255, 255, 255, 1); }

/* Inline menu */
ul.inline-menu
{
    margin: 0;
}
ul.inline-menu li
{
    display: inline-block;
}
ul.inline-menu.with-gap li::after
{
    content: "|";
    margin-left: 5px;
}
ul.inline-menu.with-gap.white-link li::after
{
    color: white;
}
ul.inline-menu.with-gap li:last-child::after
{
    content: "";
}

/* Fixed navigator */
.fixed.navigator
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

/* Rules by section parts */

/* Header */
.head.navigator.on-top
{
    --top-padding: 2rem;
}
.head.navigator.on-page
{
    --top-padding: 1.5rem;
}
.head.navigator
{
    background-color: rgba(0, 0, 0, 0.75);
}
.top.head.navigator
{
    padding-bottom: 1rem;
}

/* Caption part: Left of top menu */
.top.head.navigator .caption
{
    padding-top: var(--top-padding);
    padding-left: 2rem;
}
.top.head.navigator .caption *
{
    line-height: 0.5rem;
    color: white;
}
.top.head.on-page.navigator .caption img
{
    height: 75%;
    /* width: unset; */
}

/* Title: Center of top menu */
.top.head.navigator .title.item img
{
    display: block;
    margin: 1rem auto 1rem auto;
}
.top.head.navigator .title.item img[hidden]
{
    display: none;
}

.top.head.on-page.navigator .head-menu
{
    padding-top: var(--top-padding);
    /* padding-top: 1.5rem; */
}
.top.head.navigator .justify.head-menu > *
{
    display: flex;
    justify-content: space-between;
}

/* Member features: Right of top menu */
.top.head.navigator .member
{
    padding-top: var(--top-padding);
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
}
.top.head.navigator .member .reminder
{
    margin-left: 1rem;
}
.top.head.navigator .member .shop .badge:after
{
    --circle-width: 2rem;
    content: attr(data-count);
    position: absolute;
    top: 1.5rem;
    right: 16rem;
    width: var(--circle-width);
    height: var(--circle-width);
    line-height: var(--circle-width);
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    background: red;
    color: white;
    border: 1px solid red;
    font-family: sans-serif;
}

/*
 * Vue slider custom CSS.
 * Please refer the manual:
 * https://github.com/ssense/vue-carousel#readme
 */
.slider
{
    margin-bottom: 2rem;
}

.VueCarousel-slide .item
{
    position: relative;
    height: 900px;
    background-size: auto 100%;
    color: white;
}
.VueCarousel-slide .first.item{background-image: url("./images/slider-1.png");}
.VueCarousel-slide .second.item{background-image: url("./images/slider-2.png");}
.VueCarousel-slide .third.item{background-image: url("./images/slider-3.png");}

.VueCarousel-slide .item .caption
{
    position: absolute;
    right: 15%;
    top: 25%;
    font-size: 2rem;
}

.VueCarousel-navigation-button
{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 80px;
}

.VueCarousel-navigation-button:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.VueCarousel-navigation-prev,
.VueCarousel-navigation-next
{
    transform: translateY(-50%) !important;
}

/*
 * Main section CSS
 */

/* Introduction in main section. */
.introduction .item h2  { font-size: 1.2rem; }
.introduction .item img { margin: 0 auto; }

/* Break line is a gap between introduction and heightlights in main section. */
.break-line
{
    max-width: 840px;
    border: 2px #480a08 solid;
    margin: 3rem auto 3rem auto;
    text-align: center;
}

/* Heightlights in main section */
.heightlights .item
{
    position: relative;
}

.heightlights .item .image img { width: 100%; }

.heightlights .item .text
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: rgba(66,17,14,0.75);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.heightlights .item .text h2,
.heightlights .item .text p
{
    color: white;
    margin: 0;
}

.heightlights .item .text h2
{
    font-size: 1.2rem;
}

/* Top picks and new arrivals */
.shop .panel
{
    margin-top: 1rem;
}
.shop .gallery > .item
{
    box-shadow: 0 5px 10px black;
    margin: 1rem;
}
.vertical-justify
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Title in gallery's top */
.shop .gallery > .item .title
{
    overflow-wrap: anywhere;
    padding: 1rem;
    padding-bottom: 0;
}

/* Content in gallery's centre part */
.shop .gallery .content
{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.shop .gallery .content .info.item
{
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-basis: max-content;
    justify-content: space-evenly;
}

/* Rating in gallery content's left */
.shop .gallery .ratings
{
    margin-bottom: 1rem;
}

.shop .gallery .ratings > .item
{
    border: 1px solid #513a1a;
    text-align: center;
    margin-right: 0.1rem;
}
.shop .gallery .ratings > .item:last-child
{
    margin-right: 0;
}
.shop .gallery .ratings > .item .name
{
    background-color: #513a1a;
    color: #ffffff;
}

/* Meta is hidden in desktop mode unless users hover */
.desktop-relative { position: relative; }
.desktop-relative .desktop-absolute { position: absolute; }

.shop .gallery .mobile.meta,
.shop .gallery .desktop.meta
{
    display: none;
}
.shop .gallery > .item:hover .desktop.meta
{
    display: block;
}

.shop .gallery > .item:hover
{
    background-color: #c1ad9e;
}
.shop .gallery > .item:hover > .title,
.shop .gallery > .item:hover > .content
{
    opacity: 0.25;
} 

.shop .gallery > .item:hover .desktop.meta,
.shop .gallery > .item:hover .buy
{
    z-index: 1;
}

.shop .gallery > .item:hover .desktop.meta
{
    /* https://stackoverflow.com/questions/37594525 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.shop .gallery > .item:hover .desktop.meta ul
{
    list-style: none;
    color: white;
}

/* Price in gallery content's left */
.shop .gallery .price strong
{
    color: #c22c28;
    font-weight: bolder;
    font-size: 1.2rem;
}
.shop .gallery .price .value
{
    color: #513a1a;
}

/* Image in gallery content's right */
.shop .gallery .picture
{
    align-self: end;
}
.shop .gallery .picture img
{
    float: right;
    max-height: 300px;
}

/* Buy panel in gallery's bottom part */
.shop .gallery .buy
{
    padding: 1rem;
    background-color: #b59983;
}
.shop .gallery .buy .form-item
{
    margin: 0;
}

.shop .gallery .buy .input-number .is-down,
.shop .gallery .buy .input-number .is-up
{
    border: 1px solid #ffffff;
}
.shop .gallery .buy .input-number .is-disabled
{
    cursor: default;
}
.shop .gallery .buy .input-number input[type="number"]
{
    width: 25%;
}
.shop .gallery .buy .button
{
    background-color: #775252;
    border-radius: 5rem;
    margin-left: 1rem;
}

/* Footer */
.footer
{
    background-color: #f2f0ea;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.foot.navigator
{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* SNS area is in foot-navigator-and-newsletter class */
.sns
{
    display: flex;
    flex-direction: row-reverse;
}
.sns .area > *:last-child
{
    margin-right: 0.4rem;
}

/* Disclaimer */
.disclaimer
{
    padding-top: 1rem;
    background-color: #ffffff;
}
.disclaimer .legel
{
    margin-bottom: 1rem;
}
.disclaimer .legel p
{
    margin: 0;
}

.disclaimer .links > *
{
    display: inline-block;
}
